
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Document
    </title>

    <!-- Bootstrap CSS 4.3.1 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--    <script src ="https://unpkg.com/vue@next"></script>-->
    <script src ="vue.js/detail.js" defer></script>



</head>

<body>
<div class="topnav" style="font-family: georgia,serif; margin-left: 0px">
    <a href="index.html">List Employee</a>
    <a href="add.html">Create Employee</a>
    <a class="active" href="detail.html">Employee Detail</a>
</div>
<br>

<div class="container mt-4" id="app">
    <div>Search by Employee ID: <input v-model="greeting" />
        <button style="float: right;" class="btn three" @click.left="toggleBox">
        {{ view_emp_text }} All Employees
    </button></div>
<!--    0953753c-3268-48e3-ad12-62734c24dd59-->



    <br>
    <div v-if="allEmployee">
    <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>

                <th scope="col">Manager ID</th>
                <th scope="col">Hire Date</th>
                <th scope="col">Commission (%)</th>
                <th scope="col">Job ID</th>
                <th scope="col">Garbage</th>


            </tr>
            </thead>
            <div v-if="isVisible">
            <tbody>
            <tr v-for="user, index in users">

                <td v-if= 'user.SK === "#METADATA#" + greeting '>{{user.SK.replace("#METADATA#", "")}}</td>
                <td v-if= 'user.SK === "#METADATA#" + greeting'>{{user.name}}</td>
                <td v-if= 'user.SK === "#METADATA#" + greeting'>{{user.email}}</td>
                <td v-if= 'user.SK === "#METADATA#" + greeting'>{{user.phone_number}}</td>
                <td v-if= 'user.SK === "#METADATA#" + greeting'>{{user.manager_id}}</td>
                <td v-if= 'user.SK === "#METADATA#" + greeting'>{{user.hire_date}}</td>
                <td v-if= 'user.SK === "#METADATA#" + greeting'>{{user.commission_pct}}</td>
                <td v-if= 'user.SK === "#METADATA#" + greeting'>{{user.job_id}}</td>
                <td v-if= 'user.SK === "#METADATA#" + greeting'>{{ greeting }}</td>

            </tr>
            </tbody>
            </div>

        </table>
    </div>

    <div v-else>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>

                <th scope="col">Manager ID</th>
                <th scope="col">Hire Date</th>
                <th scope="col">Commission (%)</th>
                <th scope="col">Job ID</th>
                <th scope="col">Garbage</th>


            </tr>
            </thead>
            <div v-if="isVisible">
                <tbody>
                <tr v-for="user, index in users">

                    <td>{{user.SK.replace("#METADATA#", "")}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone_number}}</td>
                    <td>{{user.manager_id}}</td>
                    <td>{{user.hire_date}}</td>
                    <td>{{user.commission_pct}}</td>
                    <td>{{user.job_id}}</td>
                    <td>{{ greeting }}</td>

                </tr>
                </tbody>
            </div>

        </table>

    </div>






</div>







</body>
</html>