<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- Bootstrap CSS 4.3.1 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue.js/index.js" defer> </script>

</head>
<body>
<div class="topnav" style="font-family: georgia,serif; margin-left: 0px">
  <a class="active" href="index.html">List Employee</a>
  <a href="add.html">Create Employee</a>
  <a href="detail.html">Employee Detail</a>
</div>
<br>








  <div class="container mt-4" id="app">
    <button class="btn three"  onclick="">
      Add Employee
    </button>
    <br>
    <br>


<!--    <button class="btn three" @click.left="toggleBox">-->
<!--      Detail-->
<!--    </button>-->

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user, index in users">

          <th scope="row">{{ index + 1 }}</th>
          <td>{{user.SK.replace("#METADATA#", "")}}</td>
          <td>{{user.name}}</td>
          <td>
            <button class="btn three" id = "new" @click.left="toggleBox">
              Detail
            </button>

          </td>
        </tr>
      </tbody>
    </table>


<!--    <div v-if="isVisible">-->
<!--      <table class="table table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">#</th>-->
<!--          <th scope="col">Employee ID</th>-->
<!--          <th scope="col">Name</th>-->
<!--          <th scope="col">Detail</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr v-for="user, index in users">-->
<!--          <th scope="row">{{ index + 1 }}</th>-->
<!--          <td v-if= 'user.SK === id '>{{user.SK.replace("#METADATA#", "")}}</td>-->
<!--          <td v-if= 'user.SK === id '>{{user.name}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->









  </div>



</body>
</html>