<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- Bootstrap CSS 4.3.1 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue.js/index.js" defer> </script>

</head>
<body>
<div class="topnav" style="font-family: georgia,serif; margin-left: 0px">
  <a class="active" href="index.html">List Employee</a>
  <a href="add.html">Create Employee</a>
  <a href="detail.html">Employee Detail</a>
</div>
<br>








  <div class="container mt-4" id="app">
    <button class="btn three"  onclick="location.href = './add.html';">
      Add Employee
    </button>
    <br>
    <br>

  <h3>Employee Listing</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user, index in users">

          <th scope="row">{{ index + 1 }}</th>
          <td>{{user.SK.replace("#METADATA#", "")}}</td>
          <td>{{user.name}}</td>
          <td>
            <button class="btn three" @click.left="toggleBox(user.SK)">
              Detail
            </button>

          </td>
        </tr>
      </tbody>
    </table>

    <br>
    <h3>Employee Detail</h3>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>

          <th scope="col">Manager ID</th>
          <th scope="col">Hire Date</th>
          <th scope="col">Commission (%)</th>
          <th scope="col">Job ID</th>


        </tr>
        </thead>
        <div v-if="isVisible">
          <tbody>
          <tr v-for="user, index in users">

            <td v-if= 'user.SK === ind '>{{user.SK.replace("#METADATA#", "")}}</td>
            <td v-if= 'user.SK === ind'>{{user.name}}</td>
            <td v-if= 'user.SK === ind'>{{user.email}}</td>
            <td v-if= 'user.SK === ind'>{{user.phone_number}}</td>
            <td v-if= 'user.SK === ind'>{{user.manager_id}}</td>
            <td v-if= 'user.SK === ind'>{{user.hire_date}}</td>
            <td v-if= 'user.SK === ind'>{{user.commission_pct}}</td>
            <td v-if= 'user.SK === ind'>{{user.job_id}}</td>

          </tr>
          </tbody>
        </div>

      </table>
    </div>


</body>
</html>