<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- Bootstrap CSS 4.3.1 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue.js/index.js" defer> </script>

</head>
<body>
<div class="topnav" style="font-family: georgia,serif; margin-left: 0px">
  <a class="active" href="index.html">List Employee</a>
  <a href="add.html">Create Employee</a>
  <a href="detail.html">Employee Detail</a>
</div>
<br>





  <div class="container mt-4" id="app">
    <button class="btn three"  onclick="location.href = './add.html';">
      Add Employee
    </button>
    <br>
    <br>

    <h3>Employee Detail</h3>
    <table class="table table-bordered">
      <thead v-if="isUpdate === false">
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Physical Address</th>
      </tr>
      </thead>



      <div v-if="isVisible">
        <tbody>
        <tr v-for="user, index in users">

          <td v-if= 'user.SK === ind '>{{user.SK.replace("#METADATA#", "")}}</td>
          <td v-if= 'user.SK === ind'>{{user.name}}</td>
          <td v-if= 'user.SK === ind'>{{user.phone_number}}</td>
          <td v-if= 'user.SK === ind'>{{user.date_of_birth}}</td>
          <td v-if= 'user.SK === ind'>{{user.physical_address}}</td>

        </tr>
        </tbody>
      </div>





        <table class="table table-bordered" v-if="isUpdate === true">
          <thead>
          <tr>
            <th scope="col">Attributes</th>
            <th scope="col">Inputs</th>


          </tr>
          </thead>

          <tbody>
          <tr>
            <td> Employee ID </td>
            <td> {{ind}} </td>
          </tr>

            <tr>
              <td> Name </td>
            <td> <input type="text" v-model="name"> </td>
            </tr>

            <tr>
              <td> Phone Number </td>
              <td> <input type="number" v-model="phone_number"> </td>
            </tr>

            <tr>
              <td> Date of Birth </td>
              <td> <input type="date" v-model="date_of_birth"> </td>
            </tr>

            <tr>
              <td> Physical Address </td>
              <td> <input type="text" v-model="physical_address"> </td>
            </tr>

          </tbody>

    </table>

      <button style="float: right" v-if="isUpdate === true" class="btn three"  @click.left="doit()">
        Update Employee
      </button>



    </table>
    <br>

  <h3>Employee Listing</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user, index in users">

          <th scope="row">{{ index + 1 }}</th>
          <td>{{user.SK.replace("#METADATA#", "")}}</td>
          <td>{{user.name}}</td>
          <td>
            <button class="btn three" @click.left="toggleBox(user.SK)">
              Detail
            </button>

            <button class="btn update" @click.left="update(user.SK)">
              Update
            </button>

            <button class="btn delete" @click.left="remove(user.SK)">
              Delete
            </button>

          </td>
        </tr>
      </tbody>
    </table>

    <br>

    </div>


</body>
</html>